<!-- Build a chat bubble for the +message+ variable using tailwind -->
<% red = message.match_player.team_id == "red" %>
<div>
  <div class="flex <%= red ? "flex-row" : "flex-row-reverse" %> mb-4">
    <div class="flex <%= red ? "flex-row" : "flex-row-reverse" %>">
      <%= link_to message.match_player.player do %>
        <div class="rounded-full w-10 h-10 flex items-center justify-center bg-gray-200 <%= red ? "mr-2" : "ml-2" %>">
          <p class="text-gray-600 font-semibold"><%= message.match_player.player.name[0] %></p>
        </div>
      <% end %>
      <div>
        <div class="<%= red ? "bg-red-200" : "bg-blue-200" %> rounded-lg p-2 max-w-xs">
          <%= link_to message.match_player.player do %>
            <p class="font-semibold text-xs text-gray-600"><%= message.match_player.player.name %></p>
          <% end %>
          <p class=""><%= message.body %></p>
        </div>
        <p class="text-gray-600 text-sm <%= red ? "" : "text-right" %>" title="<%= l message.sent_at %>"><%= l message.sent_at, format: "%H:%M" %></p>
      </div>
    </div>
  </div>
</div>
