<% team = message.match_player&.team_id || "spectator" %>
<% flex_class = {
  "red" => "flex-row",
  "blue" => "flex-row-reverse",
  "spectator" => "flex-1"
} %>
<% bg_color_class = {
  "red" => cycle("bg-red-200", "bg-red-100", name: "red"),
  "blue" => cycle("bg-blue-200", "bg-blue-100", name: "blue"),
  "spectator" => cycle("bg-gray-200", "bg-gray-100", name: "spectator")
} %>
<% spacing_class = {
  "red" => "mr-2",
  "blue" => "ml-2",
  "spectator" => "mr-2"
} %>

<div>
  <div class="flex <%= flex_class[team] %> mb-4">
    <div class="flex <%= flex_class[team] %>">
      <%= link_to message.player do %>
        <%= render "players/avatar", player: message.player, html_classes: spacing_class[team] %>
      <% end %>
      <div>
        <div class="<%= bg_color_class[team] %> rounded-lg p-2 max-w-xs">
          <%= link_to message.player do %>
            <p class="font-semibold text-xs text-gray-600"><%= message.player.name %></p>
          <% end %>
          <p class=""><%= message.body %></p>
        </div>
        <p class="text-gray-600 text-sm <%= team == "blue" ? "text-right" : "" %>" title="<%= l message.sent_at %>"><%= l message.sent_at, format: "%H:%M" %></p>
      </div>
    </div>
  </div>
</div>
