<div class="bg-gray-100 p-3 mt-2 mb-2 rounded-md">
  <%= form_tag players_path, method: :get, class: "my-2" do %>
    <div class="grid md:grid-cols-6 gap-2">
      <div class="flex flex-col">
        <%= label_tag :players, "Players", class: "text-xs" %>
        <%= select_tag :players,
          options_from_collection_for_select(Player.all, :id, :name, params[:players]),
          include_blank: "Select all",
          multiple: true,
          class: "rounded-md border-gray-300 w-full h-full"
        %>
      </div>
      <div class="md:col-span-5">
        <div class="flex flex-row gap-2">
          <div class="flex flex-col">
            <%= label_tag :from_date, "From", class: "text-xs" %>
            <%= date_field_tag :from_date, from_date.to_s, class: "rounded-md border-gray-300"%>
          </div>
          <div class="flex flex-col">
            <%= label_tag :to_date, "To", class: "text-xs" %>
            <%= date_field_tag :to_date, to_date.to_s, class: "rounded-md border-gray-300" %>
          </div>
          <%= submit_tag "Apply", class: "text-blue-500 hover:underline hover:cursor-pointer" %>
        </div>

        <div id="players-table" class="mt-2 rounded-md border-gray-300"></div>
      </div>
    </div>
  <% end %>


  <div class="bg-white mt-2 rounded-md">
    <%= line_chart elos_by_date_players_path(from_date: from_date, to_date: to_date, players: params[:players]),
      points: false,
      height: "90vh",
      library: {
        chart: {
          zoomType: 'x'
        },
        yAxis: {
          floor: 1100,
          tickInterval: 100
        },

      }  %>
  </div>
</div>


<%# Tabulator.js for the players table %>
<link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
<script id="tabulator-script" type="text/javascript"></script>
<script>
  var tabulatorScript = document.querySelector("#tabulator-script");
  tabulatorScript.src = "https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js";
  tabulatorScript.addEventListener("load", function() {
      Tabulator.extendModule("format", "formatters", {
          elo: function(cell, formatterParams) {
              var colorClass = null;
              var elo = cell.getValue();
              if (elo < 1200) {
                  colorClass = "bg-red-400";
                } else if (elo < 1400) {
                    colorClass = "bg-orange-400";
                  } else if (elo < 1600) {
                      colorClass = "bg-yellow-400";
                    } else {
                        colorClass = "bg-green-500";
                      }

              cell.getElement().classList.add(colorClass);
              return cell.getValue();
            }
        });

      var table = new Tabulator("#players-table", {
          layout: "fitDataStretch",
          pagination: "local",
          paginationSize: 20,
          data: JSON.parse('<%= raw @players_table.to_json %>'),
          autoColumns: true,
          autoColumnsDefinitions: [
              {field: "Elo", formatter: "elo"},
              {field: "ID", title: "ID", formatter: "link", formatterParams: {urlPrefix: "/players/"}},
            ],
          initialSort: [
              {column: "Elo", dir: "desc"}
            ],
        });
  });
</script>
