<div class="max-w-lg border-2 border-gray-50 rounded px-8 py-5">
  <h1 class="text-2xl font-bold mb-4"><%= @room.name %></h1>

  <% if @room.created_by == current_player %>
    <div class="mb-4 border-2 border-gray-200 rounded p-2 bg-gray-50">
      <div class="overflow-hidden" data-controller="clipboard" data-clipboard-success-content="Copiado!">
        <button class="text-blue-500 hover:underline hover:cursor-pointer block" type="button" data-action="clipboard#copy" data-clipboard-target="button">Copiar script</button>
        <%= link_to "Ir a Haxball Headless", "https://www.haxball.com/headless", class: "text-blue-500 hover:underline hover:cursor-pointer block", target: :_blank %>

        <textarea class="text-xs w-full h-20" data-clipboard-target="source"><%= @room.to_javascript %></textarea>
      </div>

      <%= simple_form_for @room do |f| %>
        <%= f.input :haxball_room_url, hint: "Se actualiza automaticamente al generar la sala en haxball.com. Pegar la URL generada por haxball.com/headless solo si es necesario." %>

        <%= f.submit "Guardar y enviar a Slack", class: "text-blue-500 hover:underline hover:cursor-pointer mb-4" %>
      <% end %>
    </div>
  <% end %>

  <div class="mb-2">
    <%= turbo_stream_from @room %>
    <%= render @room %>
  </div>
</div>
