<div class="flex flex-row">
  <div class="mb-4 border-2 border-gray-100 rounded p-5 max-w-lg flex-1">
    <p class="mb-2 font-bold text-gray-600">
      <%= link_to match do %>
        <span class="text-gray-500 text-xs">#<%= match.id %></span>
        <%= l match.created_at %>
      <% end %>
    </p>

    <div class="flex flex-row justify-between mb-2">
      <%= render "match_side", match: match, team: "red" %>
      <div class="flex flex-col justify-center text-center text-gray-600">
        vs.
      </div>
      <%= render "match_side", match: match, team: "blue" %>
    </div>

    <% if match.recording.attached? %>
      <%= link_to match.replay_uri, class: "hover:underline text-blue-500", target: :_blank, protocol: :https do %>
        <span class="inline">Replay</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" viewBox="0 0 20 20" fill="currentColor">
          <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
          <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
        </svg>
      <% end %>
      <% if match.duration_secs.present? %>
        <p class="text-gray-500 text-xs">
          T<%= Time.at(match.duration_secs).utc.strftime("%H:%M:%S") %>
        </p>
      <% end %>
    <% else %>
      <p class="text-gray-300">No replay available</p>
    <% end %>
  </div>
</div>
