<h1 class="text-xl font-bold mb-8">Matches</h1>

<% @matches.each do |match| %>
  <div class="flex flex-row">
    <div class="mb-4 border-2 border-gray-100 rounded p-5 max-w-lg flex-1">
      <p class="mb-2 font-bold text-gray-600">
        <span class="text-gray-500 text-xs">#<%= match.id %></span>
        <%= l match.created_at %>
      </p>

      <div class="flex flex-row justify-between mb-2">
        <div>
          <p class="font-bold text-red-600">Red</p>

          <%= render "match_players", match_players: match.red_match_players %>
        </div>
        <div class="flex flex-col justify-center text-center text-gray-600">
          vs.
        </div>
        <div class="text-right">
          <p class="font-bold text-blue-500">Blue</p>

          <%= render "match_players", match_players: match.blue_match_players %>
        </div>
      </div>

      <% if match.recording.attached? %>
        <%= link_to "https://haxball.com/replay?v=3##{rails_blob_url(match.recording, disposition: :attachment)}", class: "hover:underline text-blue-500", target: :_blank, protocol: :https do %>
          <span class="inline">Replay</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" viewBox="0 0 20 20" fill="currentColor">
            <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
          </svg>
        <% end %>
      <% else %>
        <p class="text-gray-300">No replay available</p>
      <% end %>
    </div>
    <div>
      <%= link_to match, class: "hover:underline", data: { turbo_confirm: "Oke oke?", turbo_method: :delete } do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 stroke-gray-300 hover:stroke-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
        </svg>
      <% end %>
    </div>
  </div>
<% end %>

<%== pagy_info(@pagy, item_name: "Match".pluralize(@pagy.count)) %>
<%== pagy_nav(@pagy) %>
